.map-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.1rem solid var(--element-background);
    background-color: var(--element-background);
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    z-index: 1;
    cursor: pointer;
    outline-color: transparent;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.my-location-button {
    bottom: 6rem;
    color: rgb(234 67 53);
}

.lang-button {
    left: 1rem;
    bottom: 2rem;
    transition: color 0.5s, background-color 0.5s, transform 0.5s;
}

.lang-en,
.lang-pt {
    transition: left 0.5s, color 1s, background-color 1s;
    padding-bottom: 0.4rem;
}

.selected-button {
    transform: rotate(90deg);
}
.selected-option {
    border: 0.1rem solid var(--background);
    background-color: var(--main-text-color);
    color: var(--element-background);
    font-weight: bold;
}

/* metrics */

.metrics-button {
    left: 1rem;
    bottom: 6rem;
    transform: rotate(45deg);
    transition: transform 0.5s;
}

.metrics-button > * {
    font-size: 1.6rem;
    opacity: 0.9;
}

.metrics-kmph{
    transition: left 0.5s, bottom 0.5s, color 0.5s, background-color 0.5s;
}

.metrics-mph{
    transition: left 0.5s, bottom 0.5s, color 0.5s, background-color 0.5s;
    left: 9rem;
    bottom: 4rem;
}

.metrics-celcius{
    transition: left 0.5s, bottom 0.5s, color 0.5s, background-color 0.5s;
    left: 5rem;
    bottom: 8rem;
}

.metrics-fahrenheit{
    transition: left 0.5s, bottom 0.5s, color 0.5s, background-color 0.5s;
    left: 9rem;
    bottom: 8rem;
}
