.search-section {
    display-flex;
    flex-direction: column;
}

.autocomplete-input {

}

.autocomplete-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}
