.sun-clock-section {
    background-color: var(--element-background);
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.2rem;
    padding: 1rem;
    position: relative;
    width: 100%;
    height: 20rem;
}

.time-name-container {
   display: flex;
   justify-content: space-between;
   font-size: 1.2rem;
   gap: 8rem;
}
.time-name-container > div:last-child {
   display: flex;
   flex-direction: column;
}


.sun-moon-wrapper {
   padding: 3rem;
   position: absolute;

}

.sun-moon-container {
   position: relative;
   width: 10rem;
   height: 10rem;
}

.sun-clock {
   width: 10rem;
   height: 10rem;
   padding: 1rem;
   border-radius: 50%;
   background-image: conic-gradient(from 22deg at 50% 50%, #FBEF00 25%, #FBEF00 25%);
   transition: background-image 1s
}

.sun-clock > div {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   padding: 0.4rem;
   background-color: var(--background);
}
 
.moon-clock {
   width: 100%;
   height: 100%;
   padding: 1rem;
   border-radius: 50%;
   background-image: conic-gradient(from 22deg at 50% 50%, #00FFFFFF 25%, #073AFFFF 25%);
}
 
.moon-clock > div {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: var(--background);
}

.clock-border {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.clock-hour-point {
   position: absolute;
   transform: translate(-50%, -50%);
   width: 0.2rem;
   height: 0.2rem;
   background-color: white;
   border-radius: 50%;
}

.clock-hour-point:nth-child(6n + 1) {
   width: 0.4rem;
   height: 0.4rem;
}

.clock-border-title > span {
   position: absolute;
   transform: translate(-50%, -50%);
   font-size: 1rem;
}

/* clock pointer */

.clock-pointer > span {
   width: 0.7rem;
   height: 0.7rem;
   transform: translate(-50%, -50%);
   background-color: var(--background);
   border-radius: 50%;
   position: absolute;
}

/* clock display */

.clock-display > div {
   font-size: 1.2rem;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   display: flex;
   gap: 0.2rem;
}

.clock-display > div > *:nth-child(1) {
   width: 2rem;
   display: flex;
   justify-content: flex-end;
} 

.clock-display > div > *:nth-child(3) {
   width: 2rem;
   display: flex;
   justify-content: flex-start ;
}

 /* sun moon icons  */

.clock-sunmoon-icons > * {
   font-size: 1rem;
   position: absolute;
   color: #3D3D3D;
   transform: translate(-50%, -50%);
}

.clock-sunmoon-icons > *:nth-child(1){
   color: #2B2D18;
}


/* digital clock */

.digital-clock-container {
   font-size: 2rem;
   color: white;
}



/* moon phase icon */

.table-n-icon-wraper {
   display: flex;
   align-items: flex-end;
   gap: 1rem;
}

.moon-phase-container {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .moon-phase-container > span {
   font-size: 1.2rem;
 }
 
 .moon-icon-container {
   position: relative;
   display: flex;
   flex-direction: column;
   width:  5rem;
   height: 5rem;
 }
 
 .moon-icon-container > img {
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   width:  4rem;
   height: 4rem;
 }
 
 .moon-icon-container > div {
   width:  4rem;
   height: 4rem;
   border-radius: 50%;
   box-sizing: content-box;
   border: 0.4rem solid red;
   border: 0.4rem solid var(--background);
   transform: translate(-50%,-50%);
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 1;
 }
 
 .moon-icon-container > svg {
   width:  6rem;
   height: 6rem;
   transform: translate(-50%,-48%);
   position: absolute;
   top: 50%;
   left: 50%;
   color: black;
   opacity: 0.8;
 }
 
.rise-n-set-table-container .table {
   display: grid;
   grid-template-areas: 
         "sun  moon "
         "sunrise  moonrise "
         "sunset  moonset ";
   column-gap: 8rem;
}
.rise-n-set-table-container .table > div {
   display: flex;
   align-items: center;
   gap: 1rem;
   font-size: 1.2rem;
}

.rise-n-set-table-container .table > div > div {
   font-size: 1.8rem;
}

.grid-sun {
   grid-area: sun;
   align-self: center;
   justify-self: flex-start;
   padding-bottom: 0.4rem;
   font-size: 1.6rem !important;
}

.grid-moon {
   padding-bottom: 0.4rem;
   grid-area: moon;
   align-self: center;
   justify-self: flex-end;
   font-size: 1.4rem !important;
}
.grid-sunset {
   grid-area: sunset;
}
.grid-sunrise {
   grid-area: sunrise;
}
.grid-moonset {
   grid-area: moonset;
}
.grid-moonrise {
   grid-area: moonrise;
}