.week-forecast-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.week-forecast-section > div:first-child {
    color: var(--secondary-text-color);
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.week-forecast-section > div:first-child > h2 {
    font-weight: normal;
}

.week-forecast-section > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.list-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.list-content > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-content > div:first-child > img {
    width: 5rem;
}

.list-content > div:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
}

.list-content > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.list-content > div > div:first-child {
    font-weight: bold;
    display: flex;
    gap: 1rem;
}
.list-content > div > div:nth-child(2) {
    color: var(--secondary-text-color);
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.list-content > div > div:nth-child(2) > span:first-child,
.list-content > div > div:nth-child(2) > span:last-child {
    color: var(--main-text-color);
    font-size: 2rem;
    font-weight: bold;
}

.week-forecast-section > ul > li > hr {
    margin: 1rem 0;
    border-color: var(--secondary-text-color);
    opacity: 0.2;
}
