#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.map-search-container {
  display: flex;
  gap: 2rem;
}

.map-section {
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
}

.search-container {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  z-index: 1
}


