#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.map-search-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.map-section {
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
}

.search-container {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  z-index: 1
}

.moon-icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.moon-icon-container > img {
  width: 5rem;
  height: 5rem;
  /* transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%; */
}
.moon-icon-container > div{
  width:  5rem;
  height: 5rem;
  border-radius: 50%;
  box-sizing: content-box;
  border: 0.4rem solid red;
  border: 0.4rem solid var(--element-background);
  transform: translate(-51%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.moon-icon-container > svg {
  width:  7.5rem;
  height: 7.5rem;
  transform: translate(-51%,-48%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  opacity: 0.8;
}